.footer {
    ul{       
        list-style: none;
        @extend .flex-row-center; 
        li {
            width: 20%;
            display: flex;
            margin-left: 1%;
            a {
                @extend .flex-row-center; 
            }
        }
    }
}
    
#fbLogo {
    width: 100%;
}

#instLogo {
    width: 100%;
}

#mailLogo {
    width: 100%;
}