footer {
    ul{       
        list-style: none;      
        @extend .flex-row-center; 
        li {
            width: 8%;
            display: flex;                       
            a {
                @extend .flex-row-center; 
                margin:2%;
            }
        }
    }
}
    
#fbLogo {
    width: 100%;
}

#instLogo {
    width: 100%;
}

#mailLogo {
    width: 100%;
}