*{
    @extend .main-font-gray
}

.divSlogan {
    width: 50%;
}

.divSlogan p {
    font-size: 160%;
    margin: 10%
}

.catIndex {
    width: 50%;
}

#catIndxImg {
    max-width: 100%
}

.mainIndex {
    width: 100%;
    @extend .flex-row-around;
    justify-content: space-between;
    margin-bottom: 2%; 
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(190, 2, 2, 0.9);
}