*{
    @extend .main-font-gray
}
.mainOurcustomers{
    @extend .flex-column;    
    align-items: center;
    h3{
        font-size: larger;
        font-weight: bold;
        margin:2%;
    }
}

.galery{
    width:50%;
    display:flex;
    flex-wrap: wrap;           
    li{
        list-style: none;            
        width:30%;
        img{
            width:100%;                
        }
    }
}
.d-block{
    margin:auto
}  
    
.carousel{    
    width:80%;
    margin:auto;
    padding-bottom: 2%;
    .carousel-inner {
        background-color: rgba(128, 128, 128, 0.281);
        border-radius: 30%;
    }
}