.reviewsMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin:1%;
    };
    .reviewsAll{
        width:80%;
        display:flex;
        flex-wrap:wrap;  
        justify-content: center;              
        div{
            width:25%;            
            border-radius: 4%;
            margin:1%;
            background-color: rgb(240, 243, 243);  
            border:solid 1px;
            box-shadow: 5px 10px 10px #ccc;           
            p{
                padding:2%;
            }            
        }
        }
}

.reviewsAll div:hover{
    transform:scale(1.1);
}
.reviewsAll div{
    transition:transform 0.3s;
}
